{% comment %}
  Skills renderer - Two column grid layout
{% endcomment %}

<div class="row cv-grid">
  {% for entry in entries %}
    <div class="col-6">
      <div class="cv-grid-item">
        <div class="cv-grid-title">{{ entry.name }}</div>
        {% if entry.keywords %}
          {% for keyword in entry.keywords %}
            <div class="cv-grid-content">{{ keyword }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
